@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body {
    background-image: url("background.jpg");
    height: 200px;
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
} 

 #buttons {
display: flex;
flex-direction: column;
background-color: black;
color:rgb(123, 255, 161);
margin-left: 7cm;
top: 2cm;
align-items: stretch;
width: 10cm;
height: 400px;
position:fixed;
}

button {
    background-color: black;
    color: aliceblue;
    height:150px;
    border: solid;
    border-color: aliceblue;
    border-width: 0.5ch;
    font-size: 4ch;
    font-family: 'VT323', monospace;
}

button:hover {
    border-color: rgb(123, 255, 161);
    color: rgb(123, 255, 161);
}

#choose {
    text-align: center;
    margin-top: 1ch;
    margin-bottom: 1ch;
    font-size: 4ch;
    font-family: 'VT323', monospace;
}

#default {
    width: 700px;
    height: 700px;
    margin-left: 750px;
    margin-top: 100px;
}

#round-score-container {
    background-color: black;
    border: 0.7in solid aliceblue;
    color: aliceblue;
    border-width: 1ch;
    left: 0.6cm;
    bottom: 1.7in;
    height:100px;
    width:612px;
    position: absolute;
}

#round-score {
    text-align: center;
    font-family: 'VT323', monospace;
    font-size: xx-large;
}

#score-keeper {
display: flex;
justify-content: space-between;
flex-direction: column;
flex-wrap: nowrap;
color: aliceblue;
height: 400px;
width: 200px;
top: 2cm;
left: 0.6cm;
position:absolute;
}

#player-score {
    height: 160px;
    text-align: center;
    font-family: 'VT323', monospace;
    font-size: xx-large;
    background-color: black;
    border: .5ch solid aliceblue;
}

#comp-score {
    height: 160px;
    text-align: center;
    font-family: 'VT323', monospace;
    font-size: xx-large;
    background-color: black;
    border: .5ch solid aliceblue;
}